# Task 1: Nhập dữ liệu

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Hàm mở file dữ liệu:
try:
    table = pd.read_csv(input("Nhập tên lớp"), sep = ",", header = None, index_col = 0, on_bad_lines='skip')
except:
    print("Không thể mở file")

In [5]:
# Nhập tên file để mở dữ liệu
table

Nhập tên lớpclass2.txt

In [13]:
# Xem các dòng đầu của bảng dữ liệu
table

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000021,B,A,C,D,C,C,D,D,C,C,...,C,B,NaN,A,D,A,A,B,D,NaN
N00000022,B,A,D,A,C,B,D,D,C,C,...,NaN,B,A,A,C,A,A,B,A,D
N00000023,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,NaN,NaN,NaN
N00000024,C,C,D,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,B,NaN,D
N0000002,B,A,D,D,C,B,D,A,C,D,...,C,D,NaN,A,C,A,A,B,D,D
N00000026,B,C,D,D,C,D,B,A,C,D,...,C,B,D,NaN,C,A,A,B,D,D
NA0000027,B,A,D,D,NaN,B,NaN,A,C,B,...,C,B,D,A,NaN,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,...,NaN,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,...,C,B,NaN,NaN,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,NaN,C,C,...,C,B,B,A,C,A,NaN,B,D,D
N00000031,B,NaN,D,D,C,B,D,A,A,C,...,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,NaN,A,B,D,D
N00000033,B,A,D,D,C,NaN,D,A,C,B,...,C,C,D,A,C,A,NaN,B,D,D
N00000034,B,NaN,D,NaN,C,B,A,A,C,C,...,C,B,A,B,C,A,NaN,B,D,D
N00000036,B,A,D,D,C,B,D,A,C,B,...,C,B,D,A,C,A,A,B,NaN,NaN
N00000037,B,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,NaN,NaN,NaN,D,D
N00000038,NaN,A,D,NaN,C,B,D,A,A,C,...,C,B,D,NaN,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,...,NaN,C,D,A,B,A,A,B,A,D
N00000040,B,A,NaN,D,C,B,D,D,C,C,...,C,A,NaN,A,C,A,NaN,B,D,D
N00000041,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,NaN,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,...,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,NaN,C,...,B,B,A,NaN,C,A,A,B,D,D

# Task 2: Kiểm tra tính hợp lệ của dữ liệu

In [7]:
# Xem thông tin chung về bảng dữ liệu
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, N00000021 to N00000045
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       21 non-null     object
 1   2       22 non-null     object
 2   3       23 non-null     object
 3   4       22 non-null     object
 4   5       23 non-null     object
 5   6       22 non-null     object
 6   7       22 non-null     object
 7   8       23 non-null     object
 8   9       23 non-null     object
 9   10      24 non-null     object
 10  11      22 non-null     object
 11  12      20 non-null     object
 12  13      22 non-null     object
 13  14      21 non-null     object
 14  15      23 non-null     object
 15  16      21 non-null     object
 16  17      24 non-null     object
 17  18      20 non-null     object
 18  19      20 non-null     object
 19  20      23 non-null     object
 20  21      22 non-null     object
 21  22      18 non-null     object
 22  23      22 non-null     object
 23  24      21 non-null     object
 24  25      21 non-null     object
dtypes: object(25)
memory usage: 4.9+ KB

In [45]:
# Lọc bảng dữ liệu để lấy bảng dữ liệu hợp lệ:
valid_table1 = table[(table.index.str.len() == 9) & (table.index.str.startswith('N'))]
valid_table2 = valid_table1[valid_table1.index.str.removeprefix("N").str.isdigit()]
valid_table2

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000021,B,A,C,D,C,C,D,D,C,C,...,C,B,NaN,A,D,A,A,B,D,NaN
N00000022,B,A,D,A,C,B,D,D,C,C,...,NaN,B,A,A,C,A,A,B,A,D
N00000023,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,NaN,NaN,NaN
N00000024,C,C,D,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,B,NaN,D
N00000026,B,C,D,D,C,D,B,A,C,D,...,C,B,D,NaN,C,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,...,NaN,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,...,C,B,NaN,NaN,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,NaN,C,C,...,C,B,B,A,C,A,NaN,B,D,D
N00000031,B,NaN,D,D,C,B,D,A,A,C,...,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,NaN,A,B,D,D
N00000033,B,A,D,D,C,NaN,D,A,C,B,...,C,C,D,A,C,A,NaN,B,D,D
N00000034,B,NaN,D,NaN,C,B,A,A,C,C,...,C,B,A,B,C,A,NaN,B,D,D
N00000036,B,A,D,D,C,B,D,A,C,B,...,C,B,D,A,C,A,A,B,NaN,NaN
N00000037,B,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,NaN,NaN,NaN,D,D
N00000038,NaN,A,D,NaN,C,B,D,A,A,C,...,C,B,D,NaN,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,...,NaN,C,D,A,B,A,A,B,A,D
N00000040,B,A,NaN,D,C,B,D,D,C,C,...,C,A,NaN,A,C,A,NaN,B,D,D
N00000041,NaN,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,...,C,B,D,A,C,A,NaN,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,...,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,NaN,C,...,B,B,A,NaN,C,A,A,B,D,D

In [46]:
# Lọc bảng dữ liệu để lấy bảng dữ liệu không hợp lệ
invalid_table2 = table[~table.index.isin(valid_table2.index)]
invalid_table2

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N0000002,B,A,D,D,C,B,D,A,C,D,...,C,D,NaN,A,C,A,A,B,D,D
NA0000027,B,A,D,D,NaN,B,NaN,A,C,B,...,C,B,D,A,NaN,A,A,B,D,D

In [47]:
# Làm việc với bảng để đánh giá các câu trả lời
# Câu trả lời trống, điền giá trị 0 tương đương 0 điểm
valid_table3 = valid_table2.fillna(0)
valid_table3.head()

          1  2  3  4  5  6  7  8  9  10  ... 16 17 18 19 20 21 22 23 24 25
0                                        ...
N00000021  B  A  C  D  C  C  D  D  C  C  ...  C  B  0  A  D  A  A  B  D  0
N00000022  B  A  D  A  C  B  D  D  C  C  ...  0  B  A  A  C  A  A  B  A  D
N00000023  0  A  D  D  C  B  D  A  C  C  ...  C  B  D  A  C  A  A  0  0  0
N00000024  C  C  D  D  C  B  0  A  C  C  ...  C  B  D  A  C  A  B  B  0  D
N00000026  B  C  D  D  C  D  B  A  C  D  ...  C  B  D  0  C  A  A  B  D  D

[5 rows x 25 columns]

In [49]:
# Đáp án đúng theo đầu bài
answer_key = ("B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D").split(",")

In [50]:
for i in range(25): 
    valid_table3.loc[:,i + 1][valid_table3.loc[:,i+1] == answer_key[i]] = 4
    valid_table3.loc[:,i + 1][(valid_table3.loc[:,i+1] != 4) & (valid_table3.loc[:,i+1] != 0)] = -1
valid_table3

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000021,4,4,-1,4,4,-1,4,-1,4,4,...,4,4,0,4,-1,4,4,4,4,0
N00000022,4,4,4,-1,4,4,4,-1,4,4,...,0,4,-1,4,4,4,4,4,-1,4
N00000023,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,0,0,0
N00000024,-1,-1,4,4,4,4,0,4,4,4,...,4,4,4,4,4,4,-1,4,0,4
N00000026,4,-1,4,4,4,-1,-1,4,4,-1,...,4,4,4,0,4,4,4,4,4,4
N00000028,4,4,4,4,-1,4,4,4,4,4,...,0,4,4,-1,4,4,4,4,-1,4
N00000029,4,4,4,4,4,-1,4,4,4,4,...,4,4,0,0,4,4,4,4,4,4
N00000030,-1,4,4,4,4,4,4,0,4,4,...,4,4,-1,4,4,4,0,4,4,4
N00000031,4,0,4,4,4,4,4,4,-1,4,...,4,4,-1,4,4,-1,4,4,4,4
N00000032,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,0,4,4,4,4
N00000033,4,4,4,4,4,0,4,4,4,-1,...,4,-1,4,4,4,4,0,4,4,4
N00000034,4,0,4,0,4,4,-1,4,4,4,...,4,4,-1,-1,4,4,0,4,4,4
N00000036,4,4,4,4,4,4,4,4,4,-1,...,4,4,4,4,4,4,4,4,0,0
N00000037,4,4,4,4,4,0,4,4,4,4,...,-1,4,4,4,4,0,0,0,4,4
N00000038,0,4,4,0,4,4,4,4,-1,4,...,4,4,4,0,4,4,-1,4,4,-1
N00000039,4,4,4,4,4,-1,-1,4,4,4,...,0,-1,4,4,-1,4,4,4,-1,4
N00000040,4,4,0,4,4,4,4,-1,4,4,...,4,-1,0,4,4,4,0,4,4,4
N00000041,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,-1,4,4,4,4
N00000042,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
N00000043,-1,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,0,4,4,4
N00000044,4,4,4,4,4,4,4,4,4,4,...,-1,4,4,4,4,-1,4,4,4,4
N00000045,-1,4,-1,4,4,4,4,-1,0,4,...,-1,4,-1,0,4,4,4,4,4,4

In [52]:
valid_table3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, N00000021 to N00000045
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       22 non-null     object
 1   2       22 non-null     object
 2   3       22 non-null     object
 3   4       22 non-null     object
 4   5       22 non-null     object
 5   6       22 non-null     object
 6   7       22 non-null     object
 7   8       22 non-null     object
 8   9       22 non-null     object
 9   10      22 non-null     object
 10  11      22 non-null     object
 11  12      22 non-null     object
 12  13      22 non-null     object
 13  14      22 non-null     object
 14  15      22 non-null     object
 15  16      22 non-null     object
 16  17      22 non-null     object
 17  18      22 non-null     object
 18  19      22 non-null     object
 19  20      22 non-null     object
 20  21      22 non-null     object
 21  22      22 non-null     object
 22  23      22 non-null     object
 23  24      22 non-null     object
 24  25      22 non-null     object
dtypes: object(25)
memory usage: 4.5+ KB

In [53]:
valid_table3 = valid_table3.loc[:,1:25].astype(int)
valid_table3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, N00000021 to N00000045
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       22 non-null     int32
 1   2       22 non-null     int32
 2   3       22 non-null     int32
 3   4       22 non-null     int32
 4   5       22 non-null     int32
 5   6       22 non-null     int32
 6   7       22 non-null     int32
 7   8       22 non-null     int32
 8   9       22 non-null     int32
 9   10      22 non-null     int32
 10  11      22 non-null     int32
 11  12      22 non-null     int32
 12  13      22 non-null     int32
 13  14      22 non-null     int32
 14  15      22 non-null     int32
 15  16      22 non-null     int32
 16  17      22 non-null     int32
 17  18      22 non-null     int32
 18  19      22 non-null     int32
 19  20      22 non-null     int32
 20  21      22 non-null     int32
 21  22      22 non-null     int32
 22  23      22 non-null     int32
 23  24      22 non-null     int32
 24  25      22 non-null     int32
dtypes: int32(25)
memory usage: 2.3+ KB

In [57]:
valid_table3["Total"] = valid_table3.loc[:,1:25].sum(axis = 1)

In [58]:
valid_table3

,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,25,Total
0,,,,,,,,,,,,,,,,,,,,,
N00000021,4,4,-1,4,4,-1,4,-1,4,4,...,4,0,4,-1,4,4,4,4,0,68
N00000022,4,4,4,-1,4,4,4,-1,4,4,...,4,-1,4,4,4,4,4,-1,4,76
N00000023,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,0,0,0,71
N00000024,-1,-1,4,4,4,4,0,4,4,4,...,4,4,4,4,4,-1,4,0,4,73
N00000026,4,-1,4,4,4,-1,-1,4,4,-1,...,4,4,0,4,4,4,4,4,4,72
N00000028,4,4,4,4,-1,4,4,4,4,4,...,4,4,-1,4,4,4,4,-1,4,73
N00000029,4,4,4,4,4,-1,4,4,4,4,...,4,0,0,4,4,4,4,4,4,87
N00000030,-1,4,4,4,4,4,4,0,4,4,...,4,-1,4,4,4,0,4,4,4,82
N00000031,4,0,4,4,4,4,4,4,-1,4,...,4,-1,4,4,-1,4,4,4,4,76
N00000032,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,0,4,4,4,4,87
N00000033,4,4,4,4,4,0,4,4,4,-1,...,-1,4,4,4,4,0,4,4,4,77
N00000034,4,0,4,0,4,4,-1,4,4,4,...,4,-1,-1,4,4,0,4,4,4,69
N00000036,4,4,4,4,4,4,4,4,4,-1,...,4,4,4,4,4,4,4,0,0,77
N00000037,4,4,4,4,4,0,4,4,4,4,...,4,4,4,4,0,0,0,4,4,75
N00000038,0,4,4,0,4,4,4,4,-1,4,...,4,4,0,4,4,-1,4,4,-1,73
N00000039,4,4,4,4,4,-1,-1,4,4,4,...,-1,4,4,-1,4,4,4,-1,4,66
N00000040,4,4,0,4,4,4,4,-1,4,4,...,-1,0,4,4,4,0,4,4,4,73
N00000041,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,-1,4,4,4,4,91
N00000042,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,100
N00000043,-1,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,0,4,4,4,86
N00000044,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,-1,4,4,4,4,90
N00000045,-1,4,-1,4,4,4,4,-1,0,4,...,4,-1,0,4,4,4,4,4,4,67

In [59]:
total_score = valid_table3["Total"]
total_score.head()

0
N00000021    68
N00000022    76
N00000023    71
N00000024    73
N00000026    72
Name: Total, dtype: int64

In [60]:
total_score.describe()

count     22.000000
mean      77.681818
std        8.962283
min       66.000000
25%       72.250000
50%       75.500000
75%       85.000000
max      100.000000
Name: Total, dtype: float64

# Task 3: Xuất file

In [62]:
valid_table3.iloc[:,:25].to_csv(input("Tên file cần xuất"), sep = ',', header = None)

Tên file cần xuấtclass2_grade.txt

In [264]:
table3.iloc[:,:25]

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,,,,,,,,,,,,,,,,,,,,,
N00000023,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,0,0,0
N00000024,-1,-1,4,4,4,4,0,4,4,4,...,4,4,4,4,4,4,-1,4,0,4
N00000026,4,-1,4,4,4,-1,-1,4,4,-1,...,4,4,4,0,4,4,4,4,4,4
N00000028,4,4,4,4,-1,4,4,4,4,4,...,0,4,4,-1,4,4,4,4,-1,4
N00000029,4,4,4,4,4,-1,4,4,4,4,...,4,4,0,0,4,4,4,4,4,4
N00000030,-1,4,4,4,4,4,4,0,4,4,...,4,4,-1,4,4,4,0,4,4,4
N00000031,4,0,4,4,4,4,4,4,-1,4,...,4,4,-1,4,4,-1,4,4,4,4
N00000032,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,0,4,4,4,4
N00000033,4,4,4,4,4,0,4,4,4,-1,...,4,-1,4,4,4,4,0,4,4,4
N00000034,4,0,4,0,4,4,-1,4,4,4,...,4,4,-1,-1,4,4,0,4,4,4
N00000036,4,4,4,4,4,4,4,4,4,-1,...,4,4,4,4,4,4,4,4,0,0
N00000037,4,4,4,4,4,0,4,4,4,4,...,-1,4,4,4,4,0,0,0,4,4
N00000038,0,4,4,0,4,4,4,4,-1,4,...,4,4,4,0,4,4,-1,4,4,-1
N00000039,4,4,4,4,4,-1,-1,4,4,4,...,0,-1,4,4,-1,4,4,4,-1,4
N00000040,4,4,0,4,4,4,4,-1,4,4,...,4,-1,0,4,4,4,0,4,4,4
N00000041,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,-1,4,4,4,4
N00000042,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
N00000043,-1,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,0,4,4,4
N00000044,4,4,4,4,4,4,4,4,4,4,...,-1,4,4,4,4,-1,4,4,4,4
N00000045,-1,4,-1,4,4,4,4,-1,0,4,...,-1,4,-1,0,4,4,4,4,4,4